<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.js"></script>

<script src="/js/canvasjs.min.js" type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
<script src="/js/nav.js" type="text/javascript"></script>
	
<title><%=title%></title>

<!-- Custom CSS -->
<link href="/css/modern-business.css" rel="stylesheet">

<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">


<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"	type="text/css">

	<!-- Script to Activate the Carousel -->
	<script type="text/javascript">
		$('.carousel').carousel({
			interval : 6000
		//changes the speed
		});
		$(document).ready(function(){
		<%if(chklog == false){%>
			$('.log-form').show();
		<%} else{%>
			$('.user-form').show();
		<%}%>
		CanvasJS.addColorSet("reg_bdc_color_set",
			      [//colorSet Array
			      "#dd4b4b",
			      "#e0003b",
			      "#e21b50",
			      "#e5295b",
			      "#ee4169",
			      "#e9577f",
					"#ec698a",
					"#ea96ad",
			     ]); 
		var chart = new CanvasJS.Chart("chartContainer", {
			colorSet:  "reg_bdc_color_set",
			axisX: {
				labelFormatter: function (e) {
					return CanvasJS.formatDate( e.value, "DDD");
				}
			},
			axisY:{
				lineThickness: 0,
				gridColor: "#e5e5e5",
				tickColor: "#e5e5e5",
				labelFontColor: "#e5e5e5",
				includeZero: false
			},
			data: [{
				type: "spline",
				dataPoints: [
				             <%for(var i = 0 ; i < hs.length ; i++){
				            	 var d = new Date(hs[i].date);
				            	%>
				             	{ x: new Date(<%=d.getFullYear()%>, <%=d.getMonth()%>, <%=d.getDate()%>), y: <%=hs[i].bdc_num%> },
							    <%}%>
							 ]
			}]
		});
		chart.render();
		
		var donorChart = new CanvasJS.Chart("donorChart", {
			dataPointWidth: 5,
			colorSet:  "reg_bdc_color_set",
			axisX: {
				labelFormatter: function (e) {
					return CanvasJS.formatDate( e.value, "DDD");
				}
			},
			axisY:{
				lineThickness: 0,
				gridColor: "#e5e5e5",
				tickColor: "#e5e5e5",
				labelFontColor: "#e5e5e5",
				includeZero: false
			},
			data: [{
				type: "column",
				dataPoints: [
				             <%for(var i = 0 ; i < hs.length ; i++){
				            	 var d = new Date(hs[i].date);
				            	%>
				             	{ x: new Date(<%=d.getFullYear()%>, <%=d.getMonth()%>, <%=d.getDate()%>), y: <%=hs[i].donate_num%> },
							    <%}%>
							 ]
			}]
		});
		donorChart.render();
		});
	</script>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" style="margin-right:30px;" href="/"><img alt="Brand" src="img/logo.png" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">	
					<form class="navbar-form navbar-right">
						<div class="log-form form-inline" style="padding:9px 0px 0px 0px;">
							<div class="form-group">
							<label class="sr-only" for="exampleInputEmail3">Email address</label>
							<input type="text" name="id" id="id" class="form-control" placeholder="Id" aria-describedby="basic-addon1" style="background-color: #232323;margin-right:10px; height:25px; width:150px;"/>
							</div>
							<div class="form-group">
							<input type="password" name="pwd" id="pwd" placeholder="pw" class="form-control" aria-describedby="basic-addon1" style="background-color: #232323; margin-right:10px;  height:25px; width:150px;"/>
							</div>
							<button id="login" class="btn btn-link" type="button" value="로그인" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; margin-right:30px; color:#969696;">로그인</button> <a href="/register">
							<button id="reg" type="button" class="btn btn-link" style="background-color: #232323; height:25px; padding:0px 0px 0px 0px; color:#969696;">회원가입</button></a>
						</div>
						<div class="user-form" style="padding:10px 0px 0px 0px;">
							<span class="glyphicon glyphicon-user user-name" aria-hidden="true"></span>
  							<span class="sr-only user-name"></span>
							<strong class="user-name" id="user-name"><%=userName%></strong>
							<a href="/myPage"><button id="my-page" type="button" style="padding:0px 0px 4px 0px;" class="btn btn-link">myPage</button></a>
							<button id="logout" type="button" class="btn btn-link" style="padding:0px 0px 4px 0px;">로그아웃</button>
						</div>
					</form>
			
				<ul class="nav navbar-nav ">
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/about?0"
						>피플</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="rdc"><a href="/rdc?user=<%=userName%>"
						>헌혈증</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;" id="donor"><a href="/donor"
						>기부 게시판</a></li>
					<li class="" style="align: center; padding:4px 0px 0px 0px; margin-right:30px;"><a href="/commu?tab=0"
						>커뮤니티</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Header Carousel -->
	<header id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill" style="background-image:url('/img/main_slide_1.jpg');"></div>
			</div>
			<div class="item">
				<div class="fill" style="background-image: url('/img/main_slide_2.jpg');"></div>
			</div>
			<div class="item">
				<div class="fill" style="background-image: url('/img/main_slide_3.jpg');"></div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a> 
		<a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="icon-next"></span></a>
	</header>

	<!-- Page Content -->
	<div class="container">
	
		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3 class="page-header">피플 금주의 현황</h3>
			</div>
			<div class="col-md-5 col-md-offset-1">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<i class="glyphicon glyphicon-tint"></i> 금주의 현혈증 등록 현황
						</h4>
					</div>
					<div class="panel-body">
						<div id="chartContainer" style="height: 250px; width: 100%;"></div>
						<div class="text-right"> 
						<a href="/about?2" class="btn btn-link btn-lg" style="color: #a0a0a0;"><i class="glyphicon glyphicon-search" style=""></i></a>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<i class="glyphicon glyphicon-tint" style=""></i> 금주의 기부 현황
						</h4>
					</div>
					<div class="panel-body">
						<div id="donorChart" style="height: 250px; width: 100%;"></div>
						<div class="text-right">
						<a href="/about?1" class="btn btn-link btn-lg" style="color: #a0a0a0;"><i class="glyphicon glyphicon-search" style=""></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<div class="col-md-10 col-md-offset-1">
		<hr>
		<hr>
		</div>
		<!-- Portfolio Section -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3 class="page-header">후원단체</h3>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
			<div class="col-md-2">
				<a href="portfolio-item.html"> <img
					class="img-responsive img-portfolio img-hover"
					src="http://placehold.it/700x450" alt="">
				</a>
			</div>
		</div>
		<!-- Footer -->
</div>
<!-- Footer -->
		<footer class="footer">
			<div class="container">
			<span class="text-muted">Copyright &copy; Your website 2016</span>
			</div>
		</footer>
<div id="index-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
 	 <div class="modal-dialog modal-sm">
    	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="index-modal-title">Modal title</h4>
        <div class="modal-body">
        <p id="index-modal-content">하하하하하</p>
      </div>
      	</div>
    	</div>
  	</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

	
</body>

